<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">

    <test name="ToolsQA">

	<parameter name="Username" value="piyushghildiyal074@gmail.com"/>

	<parameter name="Password" value="enter your password"/>

		<classes>

		    <class name="testngparametersanddataprovider.TestngParameters" />

		</classes>

    </test>

</suite>
